<footer class="bg-deep px-3 px-lg-0 py-9 py-lg-13 rounded-top-3 rounded-top-lg-4">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-lg-end gap-8 gap-lg-0 mb-8 mb-lg-4">
      <a href="index.html" class="logo-white">Learning</a>
      <ul class="list-unstyled d-flex flex-column flex-lg-row gap-6 gap-lg-0 fs-8 fw-medium">
        <li><a href="#" class="link-white px-lg-4">常見問題</a></li>
        <li><a href="#" class="link-white px-lg-4">關於我們</a></li>
        <li><a href="#" class="link-white px-lg-4">隱私權政策</a></li>
        <li><a href="#" class="link-white ps-lg-4">使用者條款</a></li>
      </ul>
    </div>
    <div class="d-flex flex-column-reverse flex-lg-row justify-content-between align-items-lg-end gap-7 gap-lg-0">
      <p class="fs-9 fs-lg-8 text-light">copyright © 2024 <span class="d-none d-lg-inline">LEARNING </span>課程網站 All Rights Reserved.</p>
      <ul class="list-unstyled d-flex gap-4">
        <li>
          <a href="#" class="btn btn-outline-white rounded-circle d-flex justify-content-center align-items-center icon">
            <i class="bi bi-line"></i>
          </a>
        </li>
        <li>
          <a href="#" class="btn btn-outline-white rounded-circle d-flex justify-content-center align-items-center icon">
            <i class="bi bi-youtube"></i>
          </a>
        </li>
        <li>
          <a href="#" class="btn btn-outline-white rounded-circle d-flex justify-content-center align-items-center icon">
            <iconify-icon icon="ri:facebook-fill" class="fs-6"></iconify-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>