<header class="container pt-8 pb-4">
  <nav class="navbar navbar-expand-lg shadow-lg-primary rounded-lg-5 px-lg-8 py-lg-4">
    <h1 class="me-xl-6"><a href="index.html" class="logo">Learning</a></h1>
    <ul class="navbar-nav d-none d-lg-flex">
      <li class="nav-item dropdown">
        <a class="nav-link px-6" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          探索<span class="material-icons-outlined">expand_more</span>
        </a>
        <ul class="dropdown-menu">
          <li class="px-6 py-3 mb-2">探索全部</li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#">
              音樂
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#">
              攝影
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#">
              程式
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#">
              程式
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#"
            >藝術
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#">
              人文
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#">
              行銷
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#">
              投資理財
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#">
              心靈成長
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#">
              職場技能
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between ps-6" href="#">
              生活品味
              <span class="material-icons-outlined">navigate_next</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="input-group d-none d-xl-flex align-items-lg-center w-35 border rounded-2 p-2">
      <label for="search-text">
        <span class="material-icons-outlined">search</span>
      </label>
      <input type="text" class="form-control border-0 shadow-none" id="search-text" placeholder="搜尋各種音樂、數學、程式及設計課程">
      <button class="btn btn-primary rounded-1" type="button">搜尋</button>
    </div>
    <div class="d-flex gap-lg-4 align-items-center ms-auto">
      <div class="dropdown">
        <a class="link-dark px-3 py-2" href="#" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="position-relative">
            <span class="material-icons-outlined">notifications</span>
            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-primary rounded-circle <%= loginStatus ? '' : 'd-none' %>">
              <span class="visually-hidden">新通知</span>
            </span>
          </div>
        </a>
        <div class="dropdown-menu position w-320 border-1 rounded-1 p-0 <%= loginStatus ? '' : 'd-none' %>">
          <div class="bg-white px-4 py-3">
            <a href="#" class="link-primary fs-8 fw-normal d-flex align-items-center justify-content-end">
              <span class="material-icons-outlined bg-primary text-white rounded-5 fs-9 p-1 me-2">done</span>全部標記為已讀
            </a>
          </div>
          <ul class="list-unstyled">
            <li class="border-top">
              <a class="d-flex align-items-center rounded-0 px-4 py-3 hover-bg-white" href="#">
                <span class="material-icons-outlined bg-info-10 text-info rounded-5 p-2 me-4">campaign</span>
                <div class="fw-normal">
                  <p class="text-dark mb-2">系統通知：6 月 30 日 02:00 網站系統排程更新</p>
                  <time class="fs-8 text-neutral-60">4 天前</time>
                </div>
              </a>
            </li>
            <li class="border-top">
              <a class="d-flex align-items-center rounded-0 px-4 py-3 hover-bg-white active" href="#">
                <span class="material-icons-outlined bg-danger-10 text-danger rounded-5 p-2 me-4">notifications_active</span>
                <div class="fw-normal">
                  <p class="text-dark mb-2">募資開課：您購買的募資課程已成功開課！將於 3 天後公布課...</p>
                  <time class="fs-8 text-neutral-60">7 天前</time>
                </div>
              </a>
            </li>
            <li class="border-top">
              <a class="d-flex align-items-center rounded-0 px-4 py-3 hover-bg-white" href="#">
                <span class="material-icons-outlined bg-danger-10 text-danger rounded-5 p-2 me-4">notifications_active</span>
                <div class="fw-normal">
                  <p class="text-dark mb-2">募資開課：您購買的募資課程已成功開課！將於 3 天後公布課...</p>
                  <time class="fs-8 text-neutral-60">7 天前</time>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <a class="link-dark px-3 py-2" href="#">
        <div class="position-relative">
          <span class="material-icons-outlined">shopping_cart</span>
          <span class="position-absolute top-0 start-100 translate-middle p-1 py-0 badge rounded-pill bg-primary <%= loginStatus ? '' : 'd-none' %>">
            2
            <span class="visually-hidden">購物車有2項商品</span>
          </span>
        </div>
      </a>
      <% if (loginStatus) { %>
        <div class="dropdown d-none d-lg-block">
          <a class="link-dark d-flex gap-2 align-items-center" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../assets/images/avatar-1.png" alt="avatar-1" class="avatar">
            <p>Jessica</p>
          </a>
          <div class="dropdown-menu position-avatar py-6 bg-white shadow-lg">
            <div class="d-flex gap-2 align-items-center pb-6">
              <img src="../assets/images/avatar-1.png" alt="avatar-1" class="avatar">
              <div>
                <p class="text-black">Jessica</p>
                <p class="fs-8 fw-normal text-neutral-60">學習初心者</p>
              </div>
            </div>
            <ul class="list-unstyled border-top py-4">
              <li>
                <a class="dropdown-item px-6" href="#">
                  <span class="material-icons-outlined text-neutral-60 me-2">account_circle</span>個人檔案
                </a>
              </li>
              <li>
                <a class="dropdown-item px-6" href="#">
                  <span class="material-icons-outlined text-neutral-60 me-2">bookmark</span>我的收藏
                </a>
              </li>
              <li>
                <a class="dropdown-item px-6" href="#">
                  <span class="material-icons-outlined text-neutral-60 me-2">settings</span>帳號設定
                </a>
              </li>
            </ul>
            <ul class="list-unstyled border-top py-4">
              <li>
                <a class="dropdown-item px-6" href="#">
                  <span class="material-icons-outlined text-neutral-60 me-2">article</span>訂單記錄
                </a>
              </li>
              <li>
                <a class="dropdown-item px-6" href="#">
                  <span class="material-icons-outlined text-neutral-60 me-2">edit</span>作業成果
                </a>
              </li>
            </ul>
            <div class="border-top pt-4">
              <a class="dropdown-item px-6" href="#">
                <span class="material-icons-outlined text-neutral-60 me-2">logout</span>登出
              </a>
            </div>
          </div>
        </div>
      <%} else { %>
        <a href="#" class="btn btn-primary btn-lg d-none d-lg-block">登入 / 註冊</a>
      <% } %>
      <a class="p-2 d-lg-none" data-bs-toggle="offcanvas" href="#offcanvasStart" aria-controls="offcanvasStart">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
        <div class="offcanvas-header pb-2">
          <h3 class="fs-7 fw-normal p-3 ps-6">探索全部</h3>
          <button type="button" class="btn-close pe-8" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body pt-0">
          <ul class="menu list-unstyled">
            <li>
              <a class="menu-link d-flex justify-content-between" href="#">
                音樂
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
            <li>
              <a class="menu-link d-flex justify-content-between" href="#">
                攝影
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
            <li>
              <a class="menu-link d-flex justify-content-between" href="#">
                程式
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
            <li>
              <a class="menu-link d-flex justify-content-between" href="#">
                程式
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
            <li>
              <a class="menu-link d-flex justify-content-between" href="#"
              >藝術
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
            <li>
              <a class="menu-link d-flex justify-content-between" href="#">
                人文
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
            <li>
              <a class="menu-link d-flex justify-content-between" href="#">
                行銷
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
            <li>
              <a class="menu-link d-flex justify-content-between" href="#">
                投資理財
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
            <li>
              <a class="menu-link d-flex justify-content-between" href="#">
                心靈成長
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
            <li>
              <a class="menu-link d-flex justify-content-between" href="#">
                職場技能
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
            <li>
              <a class="menu-link d-flex justify-content-between" href="#">
                生活品味
                <span class="material-icons-outlined">navigate_next</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="bg-neutral-40 border-top px-6 py-3">
          <a href="#" class="btn btn-primary btn-lg w-100">登入 / 註冊</a>
        </div>
      </div>
    </div>
  </nav>
</header>