.category {
  background: $white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 25px 50px -12px rgba($black, 0.12);

  &-img {
    padding: 16px;
    border-radius: 16px;
  }

  &-title {
    font-size: 16px;
    font-weight: 600;
    color: #1D2026;
  }

  &-text {
    font-size: 14px;
    font-weight: 400;
    color: #6E7485;
  }
}