<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning｜講師介紹</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header', { loginStatus: true }); -%>

    <section>
      <picture>
        <source srcset="../assets/images/hero-5.png" media="(min-width: 376px)">
        <img src="../assets/images/hero-sm-5.png" alt="hero-5">
      </picture>
      <div class="container">
        <div class="d-flex flex-column flex-lg-row gap-6 gap-lg-12 align-items-center align-items-lg-start mt-n8 mt-lg-n12">
          <img src="../assets/images/hexschool.png" alt="hexschool" class="bg-white rounded-circle w-80 w-lg-240 p-2 p-lg-5">
          <div class="pt-lg-16">
            <h2 class="fs-3 fs-lg-1 text-black text-center text-lg-start mb-4 mb-lg-6">六角學院</h2>
            <div class="text-center text-lg-start mb-4 mb-lg-6">
              <span class="fs-8 fs-lg-7 fw-normal pe-3 pe-lg-6 line">
                <strong class="fs-7 fs-lg-6 fw-semibold text-primary lh-sm me-1">4</strong>堂課
              </span>
              <span class="fs-8 fs-lg-7 fw-normal px-3 px-lg-6 line">
                <strong class="fs-7 fs-lg-6 fw-semibold text-primary lh-sm me-1">8463</strong>收藏數
              </span>
              <span class="fs-8 fs-lg-7 fw-normal ps-3 ps-lg-6">
                <strong class="fs-7 fs-lg-6 fw-semibold text-primary lh-sm me-1">20,218</strong>個學生
              </span>
            </div>
            <p class="fs-8 fs-lg-7 fw-normal mb-4 mb-lg-6">
              六角學院 是一所線上程式開發學習單位，目前已累積 20,000 名學員，讓更多人藉由線上學習在職涯規劃上有更多的選擇是我們的使命是，如果您贊同我們的理念，歡迎加入六角。<br>
              我們將深入了解您想發展的領域，每位實習生我們都會量身打造專屬於您的舞台，並讓您實際瞭解公司營運 Know how。
            </p>
            <ul class="list-unstyled d-flex gap-4 justify-content-center justify-content-lg-start">
              <li>
                <a href="#" class="btn btn-outline-dark rounded-circle d-flex justify-content-center align-items-center icon">
                  <i class="bi bi-line"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-outline-dark rounded-circle d-flex justify-content-center align-items-center icon">
                  <i class="bi bi-youtube"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-outline-dark rounded-circle d-flex justify-content-center align-items-center icon">
                  <iconify-icon icon="ri:facebook-fill" class="fs-6"></iconify-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="overflow-hidden">
      <div class="container pt-9 pb-14 pt-lg-13 pb-lg-18">
        <div class="d-flex gap-2 mb-6">
          <picture>
            <source srcset="../assets/images/deco/flower-5.png" media="(min-width: 768px)">
            <img src="../assets/images/deco/flower-5-sm.png" alt="flower-5">
          </picture>
          <h3 class="fs-6 fs-lg-5 text-black">六角學院開的課</h3>
        </div>
        <div class="swiper courseSwiper overflow-visible">
          <ul class="swiper-wrapper">
            <li class="swiper-slide h-auto overflow-visible">
              <div class="card h-100 shadow-lg position-relative">
                <img src="../assets/images/course-5.png" class="card-img-top" alt="course-5">
                <span class="tag tag-danger position-absolute ms-4 mt-4">限時 8 折🔥</span>
                <div class="card-body d-flex flex-column">
                  <h3 class="flex-grow-1 mb-4">
                    <a href="#" class="link-black stretched-link fs-6">小白也會！從零開始學習 Python 程式設計</a>
                  </h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/avatar-2-sm.png" alt="avatar-2" class="me-2">
                      <p class="fw-normal">Kelly Hsu</p>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                      <span class="fs-6 fw-bold text-primary">NT$ 2,480</span>
                      <span class="fs-8 fw-normal text-gray text-decoration-line-through">NT$ 3,200</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer border-top">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <span class="tag tag-dark fw-normal py-1 mb-1">中文創作</span>
                      <p class="fs-8 fw-normal">已有 420 位同學加入</p>
                    </div>
                    <div class="d-flex gap-1 align-items-center">
                      <span class="material-icons-outlined fs-9 text-warning">star</span>
                      <span class="fs-8 fw-medium">4.0</span>
                      <span class="fs-8 fw-medium text-gray">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide h-auto overflow-visible">
              <div class="card h-100 shadow-lg position-relative">
                <img src="../assets/images/course-6.png" class="card-img-top" alt="course-6">
                <span class="tag tag-danger position-absolute ms-4 mt-4">限時 8 折🔥</span>
                <div class="card-body d-flex flex-column">
                  <h3 class="flex-grow-1 mb-4">
                    <a href="#" class="link-black stretched-link fs-6">全面掌握 JavaScript 開發技術</a>
                  </h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/avatar-2-sm.png" alt="avatar-2" class="me-2">
                      <p class="fw-normal">Kelly Hsu</p>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                      <span class="fs-6 fw-bold text-primary">NT$ 2,480</span>
                      <span class="fs-8 fw-normal text-gray text-decoration-line-through">NT$ 3,200</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer border-top">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <span class="tag tag-dark fw-normal py-1 mb-1">中文創作</span>
                      <p class="fs-8 fw-normal">已有 420 位同學加入</p>
                    </div>
                    <div class="d-flex gap-1 align-items-center">
                      <span class="material-icons-outlined fs-9 text-warning">star</span>
                      <span class="fs-8 fw-medium">4.0</span>
                      <span class="fs-8 fw-medium text-gray">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide h-auto overflow-visible">
              <div class="card h-100 shadow-lg">
                <img src="../assets/images/course-7.png" class="card-img-top" alt="course-7">
                <div class="card-body d-flex flex-column">
                  <h3 class="flex-grow-1 mb-4">
                    <a href="#" class="link-black stretched-link fs-6">HTML & CSS 網頁設計基礎教程</a>
                  </h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/avatar-2-sm.png" alt="avatar-2" class="me-2">
                      <p class="fw-normal">Kelly Hsu</p>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                      <span class="fs-6 fw-bold text-primary">NT$ 2,480</span>
                      <span class="fs-8 fw-normal text-gray text-decoration-line-through">NT$ 3,200</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer border-top">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <span class="tag tag-dark fw-normal py-1 mb-1">中文創作</span>
                      <p class="fs-8 fw-normal">已有 420 位同學加入</p>
                    </div>
                    <div class="d-flex gap-1 align-items-center">
                      <span class="material-icons-outlined fs-9 text-warning">star</span>
                      <span class="fs-8 fw-medium">4.0</span>
                      <span class="fs-8 fw-medium text-gray">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="swiper-slide h-auto overflow-visible">
              <div class="card h-100 shadow-lg">
                <img src="../assets/images/course-8.png" class="card-img-top" alt="course-8">
                <div class="card-body d-flex flex-column">
                  <h3 class="flex-grow-1 mb-4">
                    <a href="#" class="link-black stretched-link fs-6">更進一步！深入學習 Node.js 與後端開發</a>
                  </h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/avatar-2-sm.png" alt="avatar-2" class="me-2">
                      <p class="fw-normal">Kelly Hsu</p>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                      <span class="fs-6 fw-bold text-primary">NT$ 2,480</span>
                      <span class="fs-8 fw-normal text-gray text-decoration-line-through">NT$ 3,200</span>
                    </div>
                  </div>
                </div>
                <div class="card-footer border-top">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <span class="tag tag-dark fw-normal py-1 mb-1">中文創作</span>
                      <p class="fs-8 fw-normal">已有 420 位同學加入</p>
                    </div>
                    <div class="d-flex gap-1 align-items-center">
                      <span class="material-icons-outlined fs-9 text-warning">star</span>
                      <span class="fs-8 fw-medium">4.0</span>
                      <span class="fs-8 fw-medium text-gray">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <%- include('./layout/footer'); -%>

    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>